<%- include("partials/header") %>

  <div class="login-container">
    <div class="table-header center">REGISTER</div>
    <form id="register-form" action="/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" autofocus>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <div class="right">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>

<%- include("partials/footer") %>